body {
  background: #e6b381;
  color: white;
}

/* Header */
.nav a {
  color: white;
}

/* Typing Field */
.typed-correct-char {
  color: black;
}

.typed-incorrect-char {
  color: black;
  background: rgb(255, 116, 116);
}

.untyped-char {
  color: white;
}