@media (max-width: 600px) {
  .navbar a {
    display: none;
  }
}

.header {
  width: 100%;
  position: static;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  min-width: 400px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
}

.navbar a {
  font-size: 1.7rem;
  font-weight: 570;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}